@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<p>Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst ut arcu enim, dictum quis ultrices id, sagittis eget nulla sed nunc mi, congue ut ultricies ac, varius a eros donec porttitor, libero fermentum fringilla laoreet, eros arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget elementum euismod, orci enim vestibulum orci, nec suscipit urna odio et tellus suspendisse suscipit orci sit amet sem venenatis nec lobortis sem suscipit nullam nec imperdiet velit mauris eu nisi a felis imperdiet porta at ac nulla vivamus faucibus felis nec dolor pretium eget pellentesque dolor suscipit maecenas vitae enim arcu, at tincidunt nunc pellentesque eleifend vulputate lacus, vel semper.</p>
<h2>Heading 2</h2>
<p>Sem ornare sit amet proin sem sapien, auctor vel faucibus id, aliquet vitae ipsum etiam auctor ultricies ante, at dapibus urna viverra sed nullam mi arcu, tempor vitae interdum a, sodales non urna vestibulum dignissim auctor mauris, ac elementum purus fermentum vitae duis placerat laoreet risus, sit amet eleifend tellus lobortis non vivamus iaculis dapibus leo a ornare cras vel sem at felis convallis mollis posuere ultrices dolor sed tellus arcu, accumsan a consectetur sit amet, volutpat eget lorem phasellus quis ipsum orci integer sodales tincidunt nibh a elementum ut ac libero nec orci euismod euismod nec at nulla duis malesuada faucibus porta aliquam nec consequat eros sed porttitor placerat dolor, accumsan imperdiet neque ornare in aenean non elit non leo porta mattis mauris non dolor nunc, id congue odio donec tellus nisl, semper id consectetur vitae, dapibus dictum nisl morbi sed augue purus sed dictum diam convallis tortor interdum.</p>
<h3>Heading 3</h3>
<p>Volutpat phasellus dapibus arcu sit amet neque vulputate sed elementum orci fringilla in hac habitasse platea dictumst maecenas ut dui diam curabitur adipiscing vestibulum libero, nec varius dui pulvinar eget vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; aliquam dui neque, varius eu laoreet vel.</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th><a href="#" class="btn btn-primary btn-sm">Create</a></th>
                <th>Name</th>
                <th>Description</th>
                <th>Description</th>
                <th>Description</th>
                <th>Description</th>
                <th>Description</th>
                <th>Description</th>
                <th>Description</th>
                <th>Description</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
                <td>Name</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td class="text-center"><input type="checkbox" disabled checked></td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
                <td>Name</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td class="text-center"><input type="checkbox" disabled checked></td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
                <td>Name</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td class="text-center"><input type="checkbox" disabled checked></td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
                <td>Name</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td class="text-center"><input type="checkbox" disabled checked></td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
                <td>Name</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td class="text-center"><input type="checkbox" disabled checked></td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
                <td>Name</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td>This is the description</td>
                <td class="text-center"><input type="checkbox" disabled checked></td>
            </tr>

        </tbody>
    </table>
</div>