@model AdjustmentForm
@{
    ViewData["Title"] = "Create Adjustment";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8 col-lg-6 col-xl-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdjustmentTypeId"></label>
                <select asp-for="AdjustmentTypeId" asp-items="@Model.AdjustmentTypes" class="form-control">
                    <option value="">Please Select...</option>
                </select>
                <span asp-validation-for="AdjustmentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" class="optional"></label>
                <select asp-for="StoreId" asp-items="@Model.Stores" class="form-control">
                    <option value="">Please Select...</option>
                </select>
                <span asp-validation-for="StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku"></label>
                <input asp-for="Sku" class="form-control">
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNumber"></label>
                <input asp-for="ReferenceNumber" class="form-control">
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input type="number" asp-for="Quantity" class="form-control">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="List" class="btn">Back to Adjustments</a>
            </div>
        </form>
    </div>
</div>
