<footer id="site-footer" class="text-muted small mt-5 text-center text-md-left d-print-none">
    <div class="container-fluid">
        <hr />
        <p>Copyright &copy; @DateTimeOffset.Now.Year Wingra Direct LLC. All rights reserved.</p>
    </div>
</footer>