@{
    Layout = "_BaseLayout";
}
@section Styles {
    @RenderSection("Styles", false)
}
@section Scripts {
    @RenderSection("Scripts", false)
}

<partial name="_Header" />
<div id="body-wrap">
    <partial name="_Navigation" />
    <main id="site-body" class="pt-3">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
</div>
<partial name="_Footer" />