<nav id="site-nav" class="collapse show pt-md-3 pl-md-3 d-print-none">
    <div class="border bg-light p-2">
        <ul id="metismenu" class="list-unstyled metismenu">
            <li>
                <a href="#" class="has-arrow">Menu Item</a>
                <ul class="list-unstyled collapse">
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="has-arrow">Menu Item</a>
                <ul class="list-unstyled collapse">
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="has-arrow">Menu Item</a>
                <ul class="list-unstyled collapse">
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="has-arrow">Menu Item</a>
                <ul class="list-unstyled collapse">
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>